#ProjectsListWarpper {
    display:flex;
    flex-direction:column;
}

#ProjectsTitle {
    margin-left: 20px;
    margin-bottom:10px;
    margin-top:10px;
}

#ProjectsList {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}