@import '../node_modules/mini.css/dist/mini-default.min.css';

.leaflet-container {
    width: 100%;
    height: 50vh;
}

#map { 
    width: 100%;
} 

#mapAccueil { 
    height: 100%;
    width: 100%;
    position: absolute !important; 
} 

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#root {
    margin: 0px;
    height: 100%;
    width: 100%;
}

