@import '../node_modules/mini.css/dist/mini-default.min.css';

.leaflet-container {
    width: 100%;
    height: 50vh;
}

#map { 
    width: 100%;
} 

#footerAccueil {
    z-index:1; 
    min-height: 15vh;
    display: flex;
    justify-content:space-evenly;
    min-width:100vh !important;
    background-color:#4287f5;
    align-items:center;
    margin-bottom: auto;
}

#mapAccueil { 
    height: 100%;
    width: 100%;
    position: absolute !important; 
} 

html, body {
    height: 100%;
    width: 100%;
}

#root {
    max-width: 100%;
    max-height: 100%;
    overflow-y: visible;
}

#routeBox {
    height: 85%;
    width: 100%;
}

#navbar {
    display:flex;
    flex-wrap:wrap;
}
